<div class="Module" data-ng-init="init()">

  <div class="AddItemForm">
    <h3>Add new item to list:</h3>
    <div>
      <div class="form-group">
        <label for="itemName">Item name</label>
        <input type="text" ng-model="item.name" class="form-control" id="itemName">
      </div>
      <div class="form-group">
        <label for="itemPrice">Item price</label>
        <input type="text" ng-model="item.price" class="form-control" id="itemPrice">
      </div>
      <div class="form-group">
        <label for="itemCategory">Item category</label>
        <input type="text" ng-model="item.category" class="form-control" id="itemCategory">
      </div>
      <div ng-click="submitNewItem()" class="btn pull-left btn-primary btn-default active">Submit</div>
    </div>
  </div>

  <div class="SortBy">
    <h3>Sort by:</h3>
    <div>
      <div ng-click="sortByName()" class="btn pull-left btn-primary btn-default active">Name</div>
      <div ng-click="sortByPrice()" class="btn pull-left btn-primary btn-default active">Price</div>
      <div ng-click="sortByCategory()" class="btn pull-left btn-primary btn-default active">Category</div>
    </div>
  </div>

  <div class="FilterBy">
    <h3>Filter by category:</h3>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>Standard</li>
        <li>Premium</li>
        <li>Signature</li>
      </ul>
    </div>
  </div>

  <div class="List">
    <h3>List</h3>
    <div ng-repeat = "item in displayedItemsList track by item.name">
      <p>{{item.name}}</p>
    </div>
  </div>

</div>