<div className="List">
  <div>Add new (a few text boxes will go here and a enter button)</div>
  <div>Sort by</div>
    <div ng-click="displayByName()" class="btn pull-left btn-primary btn-default active">Name</div>
    <div ng-click="displayByPrice()" class="btn pull-left btn-primary btn-default active">Price</div>
    <div ng-click="displayByCategory()" class="btn pull-left btn-primary btn-default active">Category</div>
  <div>Filter by (dropdown menu will go here)</div>
  <div>List of items will go here...</div>
</div>